<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>I Do ToDos</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Chivo|Amatic+SC|Dancing+Script|Raleway:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/stylesheets/" <> @theme <> ".css") %>">
  </head>

  <body>
        <%= render( Module.concat(IdotodosEx.WeddingTheme, String.capitalize(@theme) <> "View"), @view_template, assigns) %>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-38751454-2', 'auto');
          ga('send', 'pageview');

        </script>
        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
        <script>
          window.weddingName = "<%= @wedding.name %>"
        </script>
        <%= if @wedding.website.show_rsvp && @is_logged_in do %>
          <script>
            window.data = <%= raw(Phoenix.View.render(IdotodosEx.WeddingView, "party.json", party: @party) |> Poison.encode!(pretty: false))%>
          </script>
          <script src="<%= static_path(@conn, "/js/rsvp.js") %>"></script>
        <% end %>
  </body>
</html>
