<h2>Show campaign</h2>

<ul>

  <li>
    <strong>Main date:</strong>
    <%= @campaign.main_date %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @campaign.name %>
  </li>
</ul>

<%= link "Edit", to: campaign_path(@conn, :edit, @campaign) %>
<%= link "Back", to: campaign_path(@conn, :index) %>
