<div class="container text-center">
  <div class="row">
      <h2>Wedding Tools For Humans</h2>
      <p>Create a beautiful wedding website, send and track email invites, and have an easy time planning your wedding. without spreadsheets. Your guests will be greeted with an intuitive website that lets them RSVP, see a gorgeous gallery and get all of the important details they need for your wedding.</p>
  </div>

</div>

