
<%= if (rem(@index, @max_columns) == 0 && @index >= @max_columns) do %>
</div>
<% end %>

<%= if (rem(@index, @max_columns) == 0) do %>
<div class="row">
<% end %>
<div class="col-sm-<%= @column_width %>">
 <a href="<%= @item["image"] %>"  class="gallery-item"><image style="border:solid 8px #EEE;width: 100%; max-width: 250px" src="<%= @item["thumb"] %>" /></a>
</div>


<%= if (@index + 1 === @list_count) do %>
 </div>
<% end %>
