<h2>Email Statuses for <%= @party.name %></h2>

<table class="table">
    <thead>
        <tr>
            <th>Event</th>
            <th>Recipient</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
    <%= for email_status <- @email_statuses do %>
        <tr>
            <td><%= email_status.event %></td>
            <td><%= email_status.recipient %></td>
            <td><%= date_format(email_status.timestamp) %></td>
        </tr>
    <% end %>
    </tbody>
</table>